<!DOCTYPE html>
<html lang="en">
  <head>
    {{ html_head|safe }}
  </head>
  <body class="index-page">
    <!-- Navbar -->
    {{ html_navigation_bar|safe }}
    <!-- End Navbar -->
    <div class="wrapper">
      <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
          <div class="content-center brand">
            <h1 class="h1-seo">PORTFOLIO •</h1>
            <h3>A collection of works by Kirk Wallace</h3>
          </div>
        </div>
      </div>
    {{ html_footer|safe }}
  </body>
</html>
